/.idea/info-h509_project.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/templates/prova.html
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_05_24,_19_42_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_05_24__19_42__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
